.group1 {
    margin-bottom: 2rem;
}

.img2 {
    height: 33rem;
}

.myh2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #1DB9A3;
}

.myp {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.mybtn:hover {
    color: #fff;
    background-color: #1DB9A3;
    border-color: #1DB9A3;
    box-shadow: 1rem 0 3rem #1DB9A3 !important;
}
.btnlogin {
    color: #1DB9A3;
    border-color: #1DB9A3;;
}
.btnlogin:hover {
    color: #fff;
    background-color:  #1DB9A3;
}

.bg-pharma {
    --bs-bg-opacity: 1;
    background-color: #1DB9A3 !important;
  }
.text-pharma {
    --bs-text-opacity: 1;
    color: #1DB9A3 !important;
  }
.shadow-pharma {
    box-shadow: 0 1rem 3rem #1db9a469 !important;
  }
.nav-colored {
    background-image: linear-gradient(180deg, #1DB9A3, #1db9a467);
 }
.bg-gradients {
    background-color: #1DB9A3
}
.logo-alen {
    filter: brightness(0) invert(1);
  }
  